<a href="https://colab.research.google.com/github/ritikkr99/assignment/blob/main/map_filter_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MAP function

*  Applies to a given function to all the iterables and return a new list

In [1]:
def new(a):
  return a*a
x = map(new,[1,2,3,4])
print(x)
print(list(x))

<map object at 0x7ff372f87760>
[1, 4, 9, 16]

In [2]:
def new(a,b):
  return a*b
x = map(new,[1,2,3,4],[2,3,4,5])
print(x)
print(list(x))

<map object at 0x7ff372f879d0>
[2, 6, 12, 20]

In [3]:
lst = [1,2,3,4]
my_lst=list(map(lambda a:a+3,lst))
print(my_lst)

[4, 5, 6, 7]

## filter function

*  Use to filter given iterables list,tuple etc. with the help of another function passed as a arguement to list all the elements to be true or false

*  filter has two arguements

In [4]:
def new(i):
  if i >= 3:
    return i
j=filter(new,(1,2,3,4,5))
print(j)
print(list(j))

<filter object at 0x7ff372f87b80>
[3, 4, 5]

In [5]:
z = filter(lambda x:(x>=3),[1,2,3,4,5,6])
print(list(z))

[3, 4, 5, 6]

## Reduce function

*  Applies some other function to the list of elements that are passed to a parameter to it and finally return a single value

In [6]:
from functools import reduce 
def a(x,y):
  return x+y
s = reduce(a,[1,2,3,4])
print(s)

10

In [7]:
reduce(lambda x,y:x+y,[1,2,3,4])

10

## filter within map

In [8]:
c = map(lambda x:x+x,filter(lambda x:x>=3,[2,3,4,5]))
print(list(c))

[6, 8, 10]

In [9]:
d = filter(lambda x:(x>=4),map(lambda x:x+x,[1,2,3,4]))
print(list(d))

[4, 6, 8]

## Map() and filter() within reduce()

In [10]:
r = reduce(lambda x,y:x+y,map(lambda x:x+x, filter(lambda x:(x<=4),[1,2,3,4,5,6,7])))
print(r)

20