<a href="https://colab.research.google.com/github/ritikkr99/assignment/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hash table or hashmap is a type of data struture that maps keys to its value pairs**

In [1]:
new_dict = {}
print(new_dict)
type(new_dict)

{}

dict

In [2]:
new_dict1=dict(Ritik='01',Kumar='02')
print(new_dict1)

{'Ritik': '01', 'Kumar': '02'}

Nested dictionary are those that lies within the dictionary

In [3]:
emp_details={'employee_ID':{'01':'Ritik','02':'Alok'},'employee_salary':{'01':'10000','02':'120000'}}
print(emp_details)

{'employee_ID': {'01': 'Ritik', '02': 'Alok'}, 'employee_salary': {'01': '10000', '02': '120000'}}

In [4]:
type(emp_details)

dict

In [5]:
#pyramid
def pattern(n):
  k = 2*n-2
  for i in range(0,n):
    for j in range(0,k):
      print(end=' ')
    k = k-1
    for j in range(0,i+1):
      print('*',end=' ')
    print("\r")  
    

pattern(5)

        *
       * *
      * * *
     * * * *
    * * * * *

In [51]:
def pattern(n):
  k =2*n-2
  for i in range(n,-1,-1):
    for j in range(k,0,-1):
      print(end=' ')
    k=k+1
    for j in range(i+1):
      print('*',end=' ')
    print('\r')

pattern(8)

              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *

In [7]:
#right angled triangle
def pattern(n):
  for i in range(0,n):
    for j in range(0,i+1):
      print('*',end=" ")
    print('\r')
    
pattern(5)

*
* *
* * *
* * * *
* * * * *

In [84]:
#hollow box
def pattern(n):
  for i in range(0,n):
    for j in range(0,n):
      if i==0 or i==6 or j==0 or j==6:
        print('*',end=' ')
      else:
        print(" ",end=' ')
    print('\r')

pattern(7)

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [81]:
#simple sqaure
def pattern(n):
  for i in range(n):
    for j in range(n):
      print('*',end=' ')
    print('\r')

pattern(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [70]:
#right angled triangle-2
def pattern(n):
  k=2*n-2
  for i in range(n):
    for j in range(k):
      print(end=' ')
    k=k-2
    for j in range(i+1):
      print('*',end=' ')
    print('\r')

pattern(5)

        *
      * *
    * * *
  * * * *
* * * * *

In [11]:
# right face triangle
def pattern(n):
  for i in range(0,n):
    for j in range(0,i):
      print('* ',end=' ')
    print('\r')

  for i in range(n,-1,-1):
    for j in range(0,i):
      print('* ',end=' ')
    print('\r')

pattern(7)

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [15]:
def pattern(n):
  k =2*n-2
  for i in range(0,n-1):
      for j in range(0,k):
        print(end=' ')
      k=k-2
      for j in range(0,i+1):
        print('*',end=' ')
      print('\r')
  k=k-1
  for i in range(n-1,-1,-1):
    for j in range(k,-1,-1):
      print(end=' ')
    k=k+2
    for j in range(0,i+1):
      print('*',end=' ')
    print('\r')

pattern(7)

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [64]:
#hourGlassPattern
def pattern(n):
  k =n-2
  for i in range(n,-1,-1):
    for j in range(k,0,-1):
      print(end=' ')
    k=k+1
    for j in range(i+1):
      print('*',end=' ')
    print('\r')
  k=2*n-2
  for i in range(0,n+1):
    for j in range(0,k):
      print(end=' ')
    k = k-1
    for j in range(0,i+1):
      print('*',end=' ')
    print("\r") 

pattern(6)

    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *

In [85]:
#downward half pyarmid
def pattern(n):
  for i in range(n,-1,-1):
    for j in range(0,i+1):
      print('*',end=' ')
    print('\r')

pattern(6)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*